---
---

@import "{{ site.theme }}";

.site-title {
  font-weight: 700;
}

.page-content {
  max-width: 900px;
}

.post-content p {
  line-height: 1.7;
}

.post-tags span {
  background: #eee;
  padding: 2px 6px;
  margin-right: 5px;
  border-radius: 4px;
  font-size: 0.8em;
}

small {
  color: #666;
}
